.pagination
    .pagination__recent 
        a(href="#") recent posts
    .pagination__current    
        .pagination__current-active 1
        a(href="#").pagination__current-link 2
        a(href="#").pagination__current-link 3
    .pagination__older 
        a(href="#") older posts







