.copyright {
  //   height: 60px;
  background-color: #e8ebee;
  padding: ((60px - 14px) / 2) 0;
}

.copyright__text {
  color: #b7babe;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.28px;
  text-align: center;
}
