.widget {
  &:first-child {
    margin-top: 60px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.widget__title {
  padding-top: 27px;
  height: 70px;
  border-radius: 4px;
  border: 1px solid #dde2e7;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
