//- Подключаем все миксины по умолчанию

include ./../mixins/button-read-more.pug
include ./../mixins/post.pug
include ./../mixins/widget__post-summary.pug
include ./../mixins/widget.pug
include ./../mixins/widget-instagram__item.pug
include ./../mixins/footer-nav.pug

