+widget("Recent posts")
  
    +widget__post-summary("Austin DIY sriracha polaroid sartorial la croix.", "december 26, 2019 — 5 comments", "01.jpg")

    +widget__post-summary("Vinyl hexagon tbh selvage chambray street art.", "december 12, 2019 — 0 comments", "02.jpg")

    +widget__post-summary("Edison bulb raw denim 3 wolf moon shaman mustache taxidermy. Cliche disrupt slow-carb chicharrones.", "december 08, 2019 — 2 comments", "03.jpg")

    +widget__post-summary("Gastropub ennui keytar, plaid meggings marfa edison bulb pour-over austin enamel pin.", "November 28, 2019 — 12 comments", "04.jpg")

    +widget__post-summary("Minim ad austin tousled gluten-free.", "november 17, 2019 — 22 comments", "05.jpg")

